[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "castor"]
	path = castor
	url = https://github.com/cran/castor
[submodule "peacots"]
	path = peacots
	url = https://github.com/cran/peacots
